body {
  background-color: yellow;
}

.container {
  position: relative;
}

.box {
  width: 100px;
  height: 50px;
  background-color: green;
  color: white;
  text-align: center;
  line-height: 50px;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
  position: absolute;
}

.box:nth-child(1) {
  top: 50px;
  left: 50px;
}

.box:nth-child(2) {
  top: 50px;
  right: 50px;
}
